<div class="panel panel-heading">
  <center>
    <h1>
      <%= t "views.static_pages.home1" %>
      <%= link_to t("views.static_pages.sign up"), signup_path,
        class: "btn btn-lg btn-primary" %>
    </h1>
  </center>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-7">
    <center> <%= t "views.activities.recent_action" %> </center>
    <%= render partial: "activities/activities",
      locals: {activities: @activities} %>
    <%= will_paginate @activities %>
  </div>
</div>
