
<div class="col-md-8">
  <h1><%= t "views.admin.book.index.dashboard" %></h1>
</div>
<%= render "books/search_form" %>

<table class="table table-hover">
  <tr>
    <th><%= t "views.admin.book.index.book_id" %></th>
    <th><%= t "views.admin.book.index.category" %></th>
    <th><%= t "views.admin.book.index.title" %></th>
    <th><%= t "views.admin.book.index.author" %></th>
    <th><%= t "views.admin.book.index.rate_score" %> </th>
    <th><%= t "views.admin.book.index.numberofpage" %></th>
    <th><%= t "views.admin.book.index.reviews" %></th>
    <th><%= t "views.admin.book.index.adminfunction" %></th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td> <%= book.id %> </td>
      <td> <%= book.category.title %> </td>
      <td> <%= book.title %> </td>
      <td> <%= book.author %> </td>
      <td> <%= book.rate_score %></td>
      <td> <%= book.number_of_pages %> </td>
      <td> <%= book.reviews.count %> </td>
      <td>
        <span>
          <%= link_to t("views.admin.book.index.editbutton"), edit_admin_book_url(book),
            class:"btn btn-info" %>
          <%= link_to t("views.admin.book.index.deletebutton"), admin_book_url(book),
            method: :delete, data: {confirm: t("views.admin.book.index.deleteconfirm")},
              class:"btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to t("views.admin.book.index.newbookbutton"), new_admin_book_path,
  class: "btn btn-info" %>
