
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url(:thumb) %>
      <% else %>
        <%= image_tag "avatar.png", size: "150x150" %>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to t("views.shared.stats.viewprofile"), @user %></span>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <li>
            <% if user.avatar? %>
              <%= image_tag user.avatar.url, size: "50x50" %>
            <% else %>
              <%= image_tag "avatar.png", size: "50x50" %>
            <% end %>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
