<div class="col-md-4">
  <div class="thumbnail book-card">
    <%= image_tag @book.image.url(:thumb) if @book.image? %>
    <div class="caption">
      <h3><%= link_to @book.title, @book %></h3>
      <h4><%= t "views.book.show.author" %> <%= @book.author %></h4>
      <h4><%= t "views.book.show.numberpages" %> <%= @book.number_of_pages %></h4>
      <h4>
        <%= t "views.book.show.ratescore" %>
        <span class="average-review-rating" data-score="<%= @book.rate_score %>"></span>
      </h4>
      <h4> <%= render "marks/mark_book" %> </h4>
    </div>
  </div>
  <div>
    <%= link_to t("views.book.show.addreview"), new_book_review_path(@book),
      class: "btn btn-info" %>
  </div>
</div>
<div class="col-md-8">
  <h2>  <%= t "views.book.show.reviews" %> </h2>
  <%= render @book.reviews %>
</div>
