<h1><%= t "views.admin.category.index.dashboard" %></h1>

<table class="table table-hover">
  <tr>
    <th><%= t "views.admin.category.index.category_id" %></th>
    <th><%= t "views.admin.category.index.title" %></th>
    <th><%= t "views.admin.category.index.numberofbooks" %></th>
    <th><%= t "views.admin.category.index.adminfunction" %></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td> <%= category.id %> </td>
      <td> <%= category.title %> </td>
      <td> <%= category.books.count %></td>
      <td>
        <span>
          <%= link_to t("views.admin.category.index.editbutton"),
            edit_admin_category_url(category), class:"btn btn-info" %>
          <%= link_to t("views.admin.category.index.deletebutton"),
            admin_category_url(category), method: :delete,
            data: {confirm: t("views.admin.category.index.deleteconfirm")},
            class:"btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to t("views.admin.category.index.newcategorybutton"),
  new_admin_category_path, class: "btn btn-info" %>
