<%= form_for [@book, @review] do |f| %>
  <div id="rating-form">
    <label><%= t("views.reviews.new.rating") %></label>
  </div>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit :Submit %>
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>
